
<h5>Welcome to analytics, <span><p id="username"></p></span> </h5>


<div id="main">
    <div id="container5" style="width:100%; height:400px;"></div>
    <br />

    <div id="container1" style="width:100%; height:600px;"></div>
    <br />

    <div id="container2" style="width:100%; height:400px;"></div>
    <br>

    <div id="container3" style="width:100%; height:400px;"></div>
    <br>

    <div id="container4" style="width:100%; height:400px;"></div>
    <br>

    <div id="container6" style="width:100%; height:400px;"></div>
    <br>
</div>

<script src="~/js/Scripts/AnalyticsScript.js"></script>