
<h5>Welcome to analytics </h5>
<p id="username"></p>

<div id="container5" style="width:100%; height:400px;"></div>

<br />
<div id="container1" style="width:100%; height:600px;"></div>

<br />
<div id="container2" style="width:100%; height:400px;"></div>
<br>

<div id="container3" style="width:100%; height:400px;"></div>
<br>

<div id="container4" style="width:100%; height:400px;"></div>
<br>

<script src="~/js/Scripts/AnalyticsScript.js"></script>