
<h5>Welcome to analytics </h5>
<p id="username"></p>

<!--Make chart fetching code here-->

<h4>Resulting string from query</h4>
<p id="resultQuery"></p>

<script src="~/js/Scripts/AnalyticsScript.js"></script>