@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="display-4">Welcome</h1>
    <h2 id="nameTag"></h2>
    <h6 id="descriptionTag"></h6>
    <br />

</div>

<div id="containerA" style="width:100%; height:400px;"></div>
<br>
<br>
<div id="containerB" style="width:100%; height:400px;"></div>
<br>
<br>
<div id="containerC" style="width:100%; height:600px;"></div>
<br>
<br>
<div id="container1" style="width:100%; height:400px;"></div>
<br>
<br>
<div id="container2" style="width:100%; height:400px;"></div>
<br>
<br>
<div id="container3" style="width:100%; height:400px;"></div>
<br>
<br>
<div id="container4" style="width:100%; height:400px;"></div>
<br>
<br>
<div id="container5" style="width:100%; height:400px;"></div>
<br>
<br>
<div id="container6" style="width:100%; height:400px;"></div>
<br>
<br>
<div id="container7" style="width:100%; height:400px;"></div>
<br>
<br>
<div id="container8" style="width:100%; height:400px;"></div>
<br>
<br>
<div id="container9" style="width:100%; height:400px;"></div>
<br>
<br>
<div id="container10" style="width:100%; height:400px;"></div>
<br>
<br>
<div id="container11" style="width:100%; height:400px;"></div>
<br>
<br>
<div id="container12" style="width:100%; height:400px;"></div>
<br>
<br>
<div id="container13" style="width:100%; height:400px;"></div>

<script src="~/js/Scripts/HomeScript.js" asp-append-version="true"></script>