<h5 style="text-align:center">Welcome to Cubes!</h5>

<div id="main">
    <div class="parameter-container">
        <h6 class="options-label">Pick a cube:</h6>
        <select name="Cube" id="cubes">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
    </div>

    <div class="parameter-container">
        <h6 class="options-label">Add a Measure:</h6>
        <select name="Measure" id="measures">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
        <button type="button" class="btn btn-outline-success">Add</button>
    </div>

    <h6 class="options-label">Add a Dimension:</h6>
    <select name="Dimension" id="dimensions">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
    </select>
    <button type="button" class="btn btn-outline-success">Add</button>

    <button type="button" class="btn btn-danger" style="margin-left:25px;">Run Query</button>

</div>

<script src="~/js/Scripts/CubeScript.js"></script>
